<div class="w-100 h-100 d-flex flex-column align-items-center">
  <section
    class="mt-5 container text-light bg-darkPurple rounded w-lg-50 h-auto overflow-hidden"
  >
    <div
      class="containerDiv mt-4 w-100 p-xs-4 d-flex flex-column justify-content-around"
    >
      <table>
        <thead class="bg-purple">
          <tr class="bg-lightPurple fs-xl-4 fw-bold text-dark">
            <th scope="col">#</th>
            <th scope="col">Tasks</th>
            <th class="text-center" scope="col">Completed</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="bg-lightPurple fs-xs-3 fw-xs-bold"
            *ngFor="let todo of todos; index as i"
          >
            <th class="text-darkPurple" scope="row">{{ i + 1 }}</th>
            <td class="fw-xs-bold" [class.task-done]="todo.done">
              {{
                todo.task.length > 20
                  ? todo.task.substring(0, 20) + "..."
                  : todo.task
              }}
            </td>
            <td class="text-center">
              <input
                class="cursor-pointer"
                type="checkbox"
                [(ngModel)]="todo.done"
                (click)="onTodoDoneToggled(i)"
              />
            </td>
            <td>{{ todo.date | date }}</td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="collectionSize"
          [(page)]="page"
          [pageSize]="pageSize"
          (pageChange)="refreshTodos()"
        >
        </ngb-pagination>

        <select
          class="form-select mb-4 selectCustomStyle"
          [(ngModel)]="pageSize"
          (ngModelChange)="refreshTodos()"
        >
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>
      </div>
    </div>
  </section>

  <!--? Modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Add a Task</h4>
      <button
        type="button"
        class="btn-close btn-sm"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="todosForm"
        class="needs-validation d-flex flex-column justify-content-center align-items-center"
        novalidate
      >
        <div class="form-group d-flex flex-column w-100">
          <label for="task">Task</label>
          <input
            formControlName="task"
            type="text"
            class="form-control"
            [ngClass]="{
              'border border-danger is-invalid': task?.invalid && task?.touched
            }"
            id="task"
            placeholder="Enter a Task"
            required
          />
          <div *ngIf="task?.invalid && task?.touched">
            <span class="text-danger">Please Write a Task</span>
          </div>
        </div>
        <button
          [disabled]="this.task?.errors"
          (click)="modal.dismiss('Cross click')"
          type="submit"
          class="btn btn-primary mt-2 addTodo"
        >
          Submit
        </button>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-light"
        (click)="modal.close('Close click')"
      >
        Close
      </button>
    </div>
  </ng-template>

  <button
    (click)="openVerticallyCentered(content)"
    class="btn btn-primary mt-4"
  >
    Add Todo
  </button>
</div>
